.form-container{
    background-color: #156F6C;
    height: 150px;
    width: 400px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top: 430px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.request-container{
    background-color: white;
}
.request-button{
    border-radius: 30px;
    width: 220px;
    height: 40px;
    font-weight: bolder;
}
.request-input{
    text-align: center;
    border-style: none;
    border-radius: 20px;
    height: 50px;
    margin: auto;
    font-size: 14px;
}
h3{
    color: white;
}
.book-name{
    font-size: 40px;
}
.register-container{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #156F6C;
    height: 480px;
    width: 350px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 300px;
    left: 0;
    right: 0;
    color: white;
}
.request-container{
    background-color: white;
}
.request-button{
    border-radius: 30px;
    width: 220px;
    height: 40px;
    font-weight: bolder;
}
.request-input{
    text-align: center;
    border-style: none;
    border-radius: 20px;
    height: 50px;
    margin: auto;
    font-size: 14px;
}
.search-icon{
    float: right;
    width: 30px;
    height: 30px;
}
.scalex-zero{
    transform:scaleX(0);
}
.scalex-full{
    transform: scaleX(1);
    transition-duration: 0.5s;
}
