@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.form-container{
    background-color: #F6FAF9;
    height: 180px;
    width: 350px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top: 230px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
}
.form-container:hover{
    transform: scale(1.05);
}
.request-container{
    background-color: white;
}
.request-button{
    border-radius: 30px;
    width: 220px;
    height: 40px;
    font-weight: bolder;
}
.request-input{
    text-align: center;
    border-style: none;
    border-radius: 20px;
    height: 50px;
    margin: auto;
    font-size: 14px;
    border: 1px solid #000;
}
h3{
    color: #202B27;
}
.book-name{
    font-size: 40px;
}
.list-container{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #F6FAF9;
    height: 270px;
    width: 350px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top:-400px;
    bottom: 300px;
    left: 0;
    right: 0;
    color: black;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.request-container{
    background-color: white;
}
.request-button{
    border-radius: 30px;
    width: 220px;
    height: 40px;
    font-weight: bolder;
    background-color: #85C6AE;
    color: #F9FCF9;
}
.request-input{
    text-align: center;
    border-style: none;
    border-radius: 20px;
    height: 50px;
    margin: auto;
    font-size: 14px;
}
.search-icon{
    float: right;
    width: 30px;
    height: 30px;
}
.scalex-zero{
    transform:scaleX(0);
}
.scalex-full{
    transform: scaleX(1);
    transition-duration: 0.5s;
}
.scaley-zero{
    transform: scaleY(0) translateY(60%);
}
.scaley-full{
    transform: scale(1) translateY(60%);
    transition-duration: 0.5s;
}
@keyframes animation-list {
    0% {
        background-color: #001F3F;
    }
    25% {

    }
    50% {

    }
    75% {

    }
    100% {
        background-color: #FF4136;
    }
  }
  
#inputName{
    text-align: center;
    border-radius: 10px;
    border-style: none;
    height: 40px;
    width: 280px;
    outline: none;
}